In [ ]:
### ( 함수, function, def ) 
# 반복적으로 사용하는 코드를 모아서 동작 시키 기능 
# def 함수명():
#     실행코드1
#     실행코드2
#     return

1. 인자없는 실행함수
2. 인자를 받아서 실행하는 함수
3. 인자를 받아서 실행후 결과를 돌려주는 함수
4. 입력값을 여러개 받아서 처리하는 함수

In [ ]:
# 1.인자 없는 실행함수 
def hello():
    print("aaa")
    print("bbb")
    print("ccc")

In [ ]:
# 함수 실행
hello()

aaa
bbb
ccc

In [ ]:
# 2. 인자를 받아서 실행하는 함수
def sum(a,b):
    c = a+b
    print(c)

In [ ]:
sum(3,5)

8

In [ ]:
x = 3; y = 10
sum(x,y)

13

In [ ]:
res = sum(x,y)
print("res = ", res)

13
res =  None

In [ ]:
# 3. 인자를 받아서 실행후 결과값을 돌려주는 함수 
def fun(x,y):
    z = x*y
    print("z = ", z)
    return z

In [ ]:
fun(3,8)

z =  24

24

In [ ]:
res = fun(3,8)
print("res = ", res)

z =  24
res =  24

In [ ]:
def fun1(x,y):
    z = x*y
    print("z = ", z)
    return x+y, x*y, x-y

In [ ]:
fun1(5,8)

z =  40

(13, 320, -3)

In [ ]:
res = fun1(5,8); res

z =  40

(13, 320, -3)

In [ ]:
a,b,c = fun1(5,8)

z =  40

In [ ]:
print("a = ", a)
print("b = ", b)
print("c = ", c)

a =  13
b =  320
c =  -3

In [ ]:
res = fun1(5,8)
print("1 = ", res[0])
print("2 = ", res[1])
print("3 = ", res[2])

z =  40
1 =  13
2 =  320
3 =  -3

In [ ]:
def fun2(x,y):
    return x+y, x*y, x-y

In [ ]:
fun2(5,10)

(15, 50, -5)

In [ ]:
def fun3(x1,y1):
    aaa = x1+y1
    bbb = x1*y1
    ccc = x1-y1
    return aaa,bbb,ccc

In [ ]:
fun3(3,5)

(8, 15, -2)

### 섭씨를 화씨로 변환하는 함수(cel_to_fah) 만들기
1. y  = ( (9/5) * x ) + 32

In [ ]:
x = 32.2
y = ((9/5) * x)  + 32
y

89.96000000000001

In [ ]:
def cel_to_fah(x):
    y = ((9/5) * x)  + 32
    return y

In [ ]:
def cel_to_fah1(x):    
    return ((9/5) * x)  + 32

In [ ]:
fah = cel_to_fah(32.2)
print("화씨 = ", fah)

화씨 =  89.96000000000001

In [ ]:
cel_to_fah1(32.2)

89.96000000000001

In [ ]:
# 4. 입력값을 여러개 받아서 처리하는 함수

In [ ]:
def sum_many(*args):
    print("args = ", args)
    sum = 0
    for i in args:
        sum += i
    return sum

In [ ]:
sum_many(1,3,5,7)

args =  (1, 3, 5, 7)

16

In [ ]:
sum_many(1,3,5,7,9,11)

args =  (1, 3, 5, 7, 9, 11)

36

In [ ]:
def sum_many1(*aa):
    print("args = ", aa)
    sum = 0
    for i in aa:
        sum += i
    return sum

In [ ]:
sum_many1(1,2,3)

args =  (1, 2, 3)

6

In [ ]:
# 5. key:value 로 받는 방식 , kwargs
def name(**kwargs):
    print("kwargs = ", kwargs) 
    for item in kwargs.items():
        print("{} = {}".format(item[0], item[1]))

In [ ]:
name(aa="123")

kwargs =  {'aa': '123'}
aa = 123

In [ ]:
name(aa="123", bb="abc")

kwargs =  {'aa': '123', 'bb': 'abc'}
aa = 123
bb = abc

In [1]:
def std_arg(arg):
    print("std_arg = ", arg)
def pos_only_arg(arg,/):
    print("pos_only_arg = ", arg)
def kwd_only_arg(*, arg):
    print("kwd_only_arg = ", arg)
def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)

SyntaxError: ignored

In [ ]:
std_arg(2)

std_arg =  2

In [ ]:
std_arg(arg=2)

std_arg =  2

In [ ]:
std_arg(aa=2)

TypeError: std_arg() got an unexpected keyword argument 'aa'

In [ ]:
pos_only_arg(1)

pos_only_arg =  1

In [ ]:
pos_only_arg(arg=1)

TypeError: pos_only_arg() got some positional-only arguments passed as keyword arguments: 'arg'

In [ ]:
kwd_only_arg(arg=3)

kwd_only_arg =  3

In [ ]:
kwd_only_arg(3)

TypeError: kwd_only_arg() takes 0 positional arguments but 1 was given

In [ ]:
combined_example(1,2,kwd_only=3)

1 2 3

In [ ]:
combined_example(1,2,3)

TypeError: combined_example() takes 2 positional arguments but 3 were given

In [ ]:
def cv_fah(x):
    y = ((9/5) * x)  + 32
    return y

1. 화면에서 입력받아 화씨 출력
2. 출력 예. 섭씨 25.0도는 화씨 77.00 입니다.

In [ ]:
x = float(input("섭씨 온도는? "))
y = cv_fah(x)
print("섭씨 %s는 화씨 %.2f 입니다"%(x,y))

섭씨 온도는? 25
섭씨 25.0는 화씨 77.00 입니다

In [ ]:
x = [25, 20, 32, 34, 19]

In [ ]:
# 1. 처리할 데이터 확인
for i in x:
    print(i)

25
20
32
34
19

In [ ]:
# 2. 함수 적용하기 
for i in x:
    y = cv_fah(i)
    print("섭씨 %s는 화씨 %.2f 입니다"%(i,y))

섭씨 25는 화씨 77.00 입니다
섭씨 20는 화씨 68.00 입니다
섭씨 32는 화씨 89.60 입니다
섭씨 34는 화씨 93.20 입니다
섭씨 19는 화씨 66.20 입니다

## ( 실습.. 화씨 데이터 저장 )

In [ ]:
# 2. 함수 적용하기 
y1 = []
for i in x:
    y = cv_fah(i)
    y1.append(y)
    print("섭씨 %s는 화씨 %.2f 입니다"%(i,y))
    print("y1 = ", y1)

섭씨 25는 화씨 77.00 입니다
y1 =  [77.0]
섭씨 20는 화씨 68.00 입니다
y1 =  [77.0, 68.0]
섭씨 32는 화씨 89.60 입니다
y1 =  [77.0, 68.0, 89.6]
섭씨 34는 화씨 93.20 입니다
y1 =  [77.0, 68.0, 89.6, 93.2]
섭씨 19는 화씨 66.20 입니다
y1 =  [77.0, 68.0, 89.6, 93.2, 66.2]

## ( 실습.. 섭씨 30도 이상인 화씨 데이터 저장 )

In [ ]:
y2 = []
for i in x:
    if i > 30:
        y = cv_fah(i)
        y2.append(y)
        print("섭씨 %s는 화씨 %.2f 입니다"%(i,y))
        print("y2 = ", y2)

섭씨 32는 화씨 89.60 입니다
y2 =  [89.6]
섭씨 34는 화씨 93.20 입니다
y2 =  [89.6, 93.2]

### 리스트 컴프리핸션 방식 적용

In [ ]:
[ cv_fah(i) for i in x]

[77.0, 68.0, 89.6, 93.2, 66.2]