In [4]:
a="20010331rainy"

In [5]:
date=a[:8] #a의 8자리까지 저장하라 0~7

In [6]:
weather=a[8:] #a의 9자리 부터 저장하라 8~

In [7]:
weather

'rainy'

In [8]:
print(date)

20010331

In [9]:
print(weather)

rainy

In [10]:
year= a[:4]

In [11]:
year

'2001'

In [12]:
day= a[4:8]

In [13]:
day

'0331'

### 변수 a에는 "pithon"이 있다 "python"으로 바꾸시오

In [23]:
a="Pithon"

In [24]:
a[1]="y"

TypeError: 'str' object does not support item assignment

In [31]:
a1="p"
a2="y"
a3="thon"
a1+a2+a3

'python'

In [34]:
a[0]+"y"+a[2:]

'Python'

In [16]:
a=[1,2,['a','b',['life','is']]]

In [28]:
print(a[2][2][0])#리스트 안에 리스트를 불러올때는 뒤에 번호를 이어서 사용한다.

life

In [33]:
#실습 07 평균구하기
a=80
b=75
c=55
d=(a+b+c)/3
print(d)

70.0

In [34]:
score=[80,75,55]
kor = score[0]; eng = score[1]; math=score[2]
avg = (kor+eng+math)/3
avg

70.0

In [35]:
score=[80,75,55]
avg = (score[0]+score[1]+score[2])/3
avg

70.0

In [37]:
exam = [[80,75,55],[90,65,88],[70,80,90]]
score = exam[0] #이곳에서 리스트의 번호를 바꿔가면서 출력하면 쉽게 변형이 가능하다
avg = (score[0]+score[1]+score[2])/3
avg

70.0

In [44]:
set_a=1,2,3,4,5
set_b=4,5,6,7,8,9,10

In [45]:
set_a.intersection(set_b)

AttributeError: 'tuple' object has no attribute 'intersection'

In [43]:
set_a

[1, 2, 3, 4, 5]

In [55]:
a=int(input())
if (a%2==0):
    print("짝수")
else:
    print("홀수")

2
짝수

In [62]:
a=int(input("점수를 입력하세요"))

if(a>90):
    print(a,"A등급입니다")
elif(80<a<90):
    print(a,"B등급입니다")
elif(70<a<80):
    print(a,"C등급입니다")
else:
    print(a,"D등급입니다")

점수를 입력하세요66
66 D등급입니다

In [63]:
print(score, "은" ,degree, "등급입니다.")
print({})

NameError: name 'degree' is not defined